body {
  font-family: arial;
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  text-align: center;
  justify-content: center;
  margin: 300px;
  border: solid 2px black;
  height: 525px;
  width: 455px;
}

button {
  flex-basis: 25%;
}

.display {
  flex-basis: 75%;
}
